
form{
    font-family: Genshin;
    font-size: 15px;
    margin: auto;
    width:30%;
    padding: 1rem;
    background-color: rgb(187, 187, 255);
    border-radius: 1rem;
}

legend{
    font-family: Genshin;
    font-size: 20px;
    font-style: bold;
    color:  rgb(96, 96, 169);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0ffcc;
    }
    
@font-face {
    font-family: Genshin;
    src: url(../../Assets/zh-cn.ttf);
   }